
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myServiciosTerrenoLabel">Create or edit a Servicios Terreno</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.serviciosTerreno.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.serviciosTerreno.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_agua">Agua</label>
                <input type="checkbox" name="agua" id="field_agua"
                          ng-model="vm.serviciosTerreno.agua"/>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_luz">Luz</label>
                <input type="checkbox" name="luz" id="field_luz"
                          ng-model="vm.serviciosTerreno.luz"/>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_telefono">Telefono</label>
                <input type="checkbox" name="telefono" id="field_telefono"
                          ng-model="vm.serviciosTerreno.telefono"/>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_carretera">Carretera</label>
                <input type="checkbox" name="carretera" id="field_carretera"
                          ng-model="vm.serviciosTerreno.carretera"/>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
